<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
            <!-- bootstrap-->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <!-- chart.js -->
            {{ encore_entry_script_tags('js/chart') }}
            <!-- function to calculate the maximum muscle strength -->
            {{ encore_entry_script_tags('js/maxStrength') }}
            <!-- radar chart -->
            {{ encore_entry_script_tags('js/radarChart') }}
            <!-- graph chart -->
            {{ encore_entry_script_tags('js/graphChart') }}
        {% endblock %}

        <!-- Responsive -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!---------------------
               Shared Header
        ---------------------->
        <div class="header">
            <a href="{{ path('app_dashboard', {id: '{{ exercises.getID }}' }) }}" class="logo">Work-Out Note</a>
            <!-- Memo: set active for each route of page-->
            <div class="header-right">
                <a {% if app.request.attributes.get('_route') == 'app_dashboard' %} class="active"{% endif %} href="{{ path('app_dashboard', {id: '{{ exercises.getID }}'}) }}">Main page</a>
                <a {% if app.request.attributes.get('_route') == 'app_list' %} class="active"{% endif %} href="{{ path('app_list') }}">Delete</a>
                <a {% if app.request.attributes.get('_route') == 'app_register' %} class="active"{% endif %} href="{{ path('app_register') }}">Sign up</a>
                <a {% if app.request.attributes.get('_route') == 'app_login' %} class="active"{% endif %} href="{{ path('app_login') }}">Log in </a>
            </div><!--/header-right -->
        </div><!--/header -->

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
