{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}

    <!--　when there is data -->
    {% if exercises | length  > 0 %}
        {% for exercise in exercises %}
            <div id="delete_content">
                <table class="responsive_table">
                    <tr>
                        <th>{{ exercise.getDate | date('Y/m/d') }}</th>
                        <td>ID: {{ exercise.getId }}</td>
                        <td>Bench press: {{ exercise.getBenchPress }}kg / {{ exercise.getBenchPressRep }} times</td>
                        <td>Squat: {{ exercise.getDeadlift }}kg / {{ exercise.getDeadliftRep }} times</td>
                        <td>Deadlift {{ exercise.getSquat }}kg / {{ exercise.getSquatRep }} times</td>
                        <td><a href=/delete/{{exercise.id}} class=btn btn-danger>Delete</a></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    <!-- when there is no data -->
    {% else %}
        <div id="none_data">
            <h1>No Data</h1>
        </div>
    {% endif %}

{% endblock %}