{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}

    <!----------------------
        handling data for js file
    ----------------------->
    <!-- radar chart -->
    <script>
        // when there is data
        {% if exercises | length > 0 %}
            let benchPress = '{{ exercises | last.getBenchPress }}'; // weight of bench press
            let benchPressRep = '{{ exercises | last.getBenchPressRep }}'; // times of bench press
            let deadlift = '{{ exercises | last.getDeadlift }}'; // weight of dead lift
            let deadliftRep = '{{ exercises | last.getDeadliftRep }}'; // times of dead lift
            let squat = '{{ exercises | last.getSquat }}'; // weight of squat
            let squatRep = '{{ exercises | last.getSquatRep }}'; // times of squat

        <!-- when there is no data => assign them 0 as default -->
        {% else %}
            let benchPress = '0'; // weight of bench press
            let benchPressRep = '0'; // times of bench press
            let deadlift = '0'; // weight of dead lift
            let deadliftRep = '0'; // times of dead lift
            let squat = '0'; // weight of squat
            let squatRep = '0'; // times of squat
        {% endif %}
    </script>

    <!-- handling data for the graph chart  -->
    <script>
        // create array for each
        let array_benchPress = [];
        let array_benchPress_rep = [];
        let array_deadlift = [];
        let array_deadlift_rep = [];
        let array_squat = [];
        let array_squat_rep = [];
        let array_weight = [];
        let array_date = [];

        // when there is data
        {% if exercises | length > 0 %}
            // push each data in loop
            {% for ex in exercises %}
                // Fill up the total queue
                array_benchPress.push('{{ ex.getBenchPress }}'); // weight of bench press
                array_benchPress_rep.push('{{ ex.getBenchPressRep }}'); // times of bench press
                array_deadlift.push('{{ ex.getDeadlift }}'); // weight of dead lift
                array_deadlift_rep.push('{{ ex.getDeadliftRep }}'); // times of dead lift
                array_squat.push('{{ ex.getSquat}}'); // weight of squat
                array_squat_rep.push('{{ ex.getSquatRep }}'); // times of squat
                // array_weight.push('{{ ex.getWeight }}'); // weight
                array_date.push('{{ ex.getDate | date('Y/m/d')}}') // date => change it to str in format
            {% endfor %}
        {% endif %}
    </script>

    <!----------------------
         Dashboard
    ----------------------->
    <!-- display user name -->
    {% if app.user %}
        <h4>Hi, {{ app.user.userIdentifier }}</h4>
    {% endif %}

    <div class="parent">
        <!----------------------
             Radar Chart
        ----------------------->
        <div class="div1">
            <!-- campus for radar chart -->
            <div style="width:400px; height:400px; padding:30px 30px 30px 30px;">
                <canvas id="myChart1" width="200" height="200"></canvas>
            </div>
        </div><!--/ div1 -->

        <!----------------------
               display data
        ----------------------->
        <div class="div2">
            <!-- calling maximum muscle strength from js file -->
            <h3>Current maximum muscle strength (1RM):</h3>
            <h4>chest: <span id="html_benchPress"></span> kg</h4>
            <h4>back: <span id="html_deadlift"></span> kg</h4>
            <h4>legs: <span id="html_squat"></span> kg</h4>
        </div><!--/ div2 -->

        <!----------------------
              graph chart
        ----------------------->
        <div class="div3">
            <!-- campus of graph chart -->
            <canvas id="myChart2" width="300" height="100"></canvas>
        </div><!--/div3 -->

        <!----------------------
               Input data
        ----------------------->
        <div class="div4">

            <!-- input form for data -->
            <div id="input_box">

                <h3>Input data</h3>

                {{ form_start(form) }}
                    <!--Memo: when I use "form_label", it doesn't look good somehow, so I fix it in html this time -->
                    <label>bench press</label>
                    {{ form_widget(form.bench_press) }}
                    <label>times</label>
                    {{ form_widget(form.bench_press_rep) }}
                    <label>Dead lift</label>
                    {{ form_widget(form.deadlift) }}
                    <label>times</label>
                    {{ form_widget(form.deadlift_rep) }}
                    <label>Squat</label>
                    {{ form_widget(form.squat) }}
                    <label>times</label>
                    {{ form_widget(form.squat_rep) }}
                    <label>Weight</label>
                    {{ form_widget(form.weight) }}
                    <label>Height</label>
                    {{ form_widget(form.height) }}
                    <button type="submit" class="btn btn-primary">Add</button>
                {{ form_end(form) }}
            </div><!--/input_box -->
        </div><!--/div4 -->

    </div><!--/parent -->

{% endblock %}
